.btn {
  
    background-color: beige;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.aba{
    width: 100%;
    height: 400px;
}
#aba1{
    background-color: pink;
}
#aba2{
    background-color: rgb(255, 0, 43);
}
#aba3{
    background-color: rgb(225, 0, 255);
}
#aba4{
    background-color: rgb(196, 192, 255);
}
#aba5{
    background-color: rgb(192, 230, 255);
}
.conteudo{
    text-align: center;
}
body {
    background-color: white;
}
.barra {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: tomato;
}
.desktop {
    display: none;
}
.tablet {
    display: none;
}
.mobile {
    font-size: 50px;
    color: burlywood;
}
@media (min-width:800px) {
    .barra {
        background-color: antiquewhite;
        height: 80px;
    }
    .mobile {
        display: none;
    }
    .tablet {
        font-size: 55px;
        color: black;
        display: inline;
    }
    .botao {
        margin-top: 0%;
        width: 19,5%;
    }
    .conteudo{
        text-align: right;
    }

}
@media (min-width:1228px) {
    .barra{
        height: 120px;
        background-color: darkred;
    }
    .tablet {
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 70px;
        color: whitesmoke;
    }
    .conteudo {
        text-align: left;
        
    }
}
